body {
  margin: 0;
  padding: 0;
}

// .h-wrapper {
//   width: 800px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   padding-top: 30px;
// }

.canvas {
  background-color: burlywood;
}